body {
    background: linear-gradient(135deg, #7e60eb, #371542);
    font-family: Arial, sans-serif;
}

.container {
    width: 450px;
    margin: 50px auto;
    padding: 20px;
    background: white;
    border-radius: 15px;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.2);
}

h1 {
    text-align: center;
    color: #444;
}

form {
    display: flex;
    gap: 10px;
}

input {
    flex: 1;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid #888;
}

button {
    padding: 10px 20px;
    background: #7f00ff;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

button:hover {
    background: #9d4edd;
}

ul {
    list-style: none;
    padding: 0;
    margin-top: 20px;
}

li {
    background: #f1f1f1;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

a {
    text-decoration: none;
    color: rgb(34, 67, 230);
    font-weight: bold;
}
